<script type="text/javascript">
//load in data from rails db

</script>


<div class="container constrained pad-md" id="order-new">



  <div class="columns">


    <div class="column is-two-thirds">
      <h1 class="title"> Shopping Cart </h1>

      <div class=" ">

        <div id="shopping-list">




          <table class="table">
            <thead>
              <tr>
                <th><abbr title="Product Name">Product Name</abbr></th>
                <th>Quantity</th>

              </tr>
            </thead>

            <tbody>

              <tr   v-for="item in shoppingRows" >


                  <th> {{item.product_id}} </th>
                  <td>  {{item.quantity}} </td>

              </tr>


            </tbody>
          </table>






        </div>


      </div>

    </div>

    <div class="column is-one-third">


      <article class="panel is-primary" id="shipping-info">
         <p class="panel-heading">
           Shipping Information
         </p>




         <div class="panel-block">
           <div class="control">
             <span class="label">Name</span>
             <input class="input"></input>
           </div>
         </div>

         <div class="panel-block">
           <div class="control">
             <span class="label">Street Address / PO Box</span>
             <input class="input"></input>
           </div>
         </div>

         <div class="panel-block">
           <div class="control">
             <span class="label">State</span>
             <input class="input"></input>
           </div>
         </div>

         <div class="panel-block">
           <div class="control">
             <span class="label">Country</span>
             <input class="input" disabled='disabled' value="US"> </input>
           </div>
         </div>

         <div class="panel-block">
           <div class="control">
             <span class="label">Zip Code</span>
             <input class="input"></input>
           </div>
         </div>

         <div class="pad-sm">
           <div class="control">
             <div class="button is-success is-pulled-right ">Proceed To Pay</div>
           </div>
         </div>
       </article>



    </div>

  </div>




</div>
