<script type="text/javascript">
//load in data from rails db

    var currency = <%= raw @currency.getExportData.to_json %>
</script>


<div class="container constrained pad-md" id="order-new">



  <div class="columns">


    <div class="column is-two-thirds">
      <h1 class="title"> Shopping Cart </h1>

      <div class=" ">

        <div id="shopping-list">




          <table class="table">
            <thead>
              <tr>
                <th><abbr title="Product Name">Product Name</abbr>  </th>
                <th>Quantity</th>
                <th>Price</th>

              </tr>
            </thead>

            <tbody>

              <tr   v-for="item in shoppingRows" >



                  <th><a v-bind:href="item.product.url" > {{item.product.name}} </a></th>
                  <td>  {{item.quantity}} </td>
                  <td>
                      <div class="content-row   ">
                        <div class="subtitle is-8 overflow-ellipsis">
                             <div style="display:inline-block; text-align:top; ">  <img v-bind:src="currency.thumbnailURL" height="16px" width="16px"></img> </div>
                             <div style="display:inline-block; text-align:top; ">  {{item.price_data.price_formatted}} </div>
                        </div>
                    </div>
                 </td>

              </tr>


            </tbody>
          </table>

          <div>
            <div class="   ">
              <div class="subtitle is-8 overflow-ellipsis">
                  Subtotal:
                   <div style="display:inline-block; text-align:top; ">  <img v-bind:src="currency.thumbnailURL" height="16px" width="16px"></img> </div>
                   <div style="display:inline-block; text-align:top; ">   {{subtotalFormatted}} </div>
              </div>
          </div>

          </div>

          <div class="whitespace-lg"></div>
          <div class="pad-sm">
            <div class="control">
              <div class="button" v-on:click="resetCart">Clear Shopping Cart</div>
            </div>
          </div>




        </div>


      </div>

    </div>

    <div class="column is-one-third">


      <article class="panel is-primary" id="shipping-info">
         <p class="panel-heading">
           Shipping Information
         </p>




         <div class="panel-block">
           <div class="control">
             <span class="label">Ship To Name</span>
             <input class="input" v-model="name"></input>
           </div>
         </div>

         <div class="panel-block">
           <div class="control">
             <span class="label">Street Address / PO Box</span>
             <input class="input" v-model="streetAddress"></input>
           </div>
         </div>

         <div class="panel-block">
           <div class="control">
             <span class="label">State Code</span>
             <input class="input" v-model="stateCode"></input>
           </div>
         </div>

         <div class="panel-block">
           <div class="control">
             <span class="label">Country</span>
             <input class="input" disabled='disabled' value="US"> </input>
           </div>
         </div>

         <div class="panel-block">
           <div class="control">
             <span class="label">Zip Code</span>
             <input class="input" v-model="zipCode"></input>
           </div>
         </div>

         <div class="pad-sm">
           <div class="control">
             <div class="button is-success is-pulled-right " v-on:click="submitOrder">Proceed To Pay</div>
           </div>
         </div>
       </article>



    </div>

  </div>




</div>
