
<div class="container constrained pad-md" id="order-show">



  <div class="columns">


    <div class="column is-two-thirds">
      <h1 class="title"> Shopping Cart </h1>



    <h1>Order#show</h1>
    <p>Find me in app/views/order/show.html.erb</p>

    <!-- this takes you to the payspec page of the matching UUID -->
    <a href="<%= @order.getInvoiceURL %> ">
      <div class="button" > Pay For Order  </div>
    </a>

  </div>
</div>
</div>
