

<footer class="footer hero is-primary slate-theme-dark">
   <div class="container">
     <div class="content has-text-centered">

       <a href='/getcrypto'><div class="button is-info">How To Get Crypto</div></a>
       <div class="whitespace-sm">
       <p>
         <strong>Etherpunks Shop</strong> - - Powered by <a href="https://github.com/admazzola/shopman-server">Shopman</a>


         </p>
     </div>
   </div>
 </footer>
