<div   id="product-cards" v-cloak  v-if="activeProducts && activeProducts.length > 0">

<div class="columns">


<div class="column is-one-quarter" v-for="(item,index) in getPricedProductData" >

<div class="card" >

  <a v-bind:href="item.url">
  <div class="card-image">
    <figure class="image is-4by3">
      <img class="image-cover" v-bind:src="item.thumbnailURL" alt="Placeholder image">
    </figure>
  </div>
  </a>

  <div class="card-content">


    <div class="media">

      <div class="media-content">
        <div class="content-row ">
            <div class="title is-4 overflow-ellipsis">{{item.name}}</div>
        </div>

        <div class="content-row  ">
            <div class="subtitle is-6 overflow-ellipsis">Sold by <a v-bind:href="item.seller.url">{{item.seller.name}}</a></div>
        </div>

      </div>


    </div>

    <div class="content">

      <div class="content-row centered ">
          <div class="subtitle is-8 overflow-ellipsis">
               <div style="display:inline-block; text-align:top; ">  <img v-bind:src="item.active_price_data.currency.thumbnailURL" height="16px" width="16px"></img> </div>
               <div style="display:inline-block; text-align:top; ">  {{item.active_price_data.price_formatted}} </div>
          </div>
      </div>



    </div>
  </div>
</div> <!-- card -->

</div><!-- column -->



</div>


<div class="columns ">
  1 2 3 .. pages
</div>

</div>
