<div class="content-block">
  <section class="hero">
    <div class="hero-body">
    <div class="container" id="get-crypto">

      <h2 class="title">Cryptocurrency: Getting Started<h2>
        <p> In order to improve user experience, Etherpunks.com allows payment using Cryptocurrency. Cryptocurrency is about trustlessness.  It is about fair, neutral money that depends on mathematics, not people. It also works better with the internet, avoiding hefty fees and interest rates that credit cards charge. </p>

        <br>
      <h3 class="subtitle">Installing a Digital Wallet</h3>
        <p> In order to manage cryptocurrency, you will need a special digital wallet.  If you are on a computer, you can install a cryptocurrency wallet as a browser plugin called <a href="https://metamask.io/" target="_blank"> Metamask</a>.   If you are on a smartphone, you can install a digital wallet app such as <a href="https://wallet.coinbase.com/" target="_blank">Coinbase Wallet</a>.  Once you install the wallet, be sure to follow the first steps in order to generate a wallet, comprised of a Public Address and Private Key.   The Public Address allows you to receive money, and the Private Key is a secret number that lets you spend the money.</p>

      <br>

      <h3 class="subtitle">Your First Cryptocurrency</h3>
        <p> Once you have a digital wallet and an account with a Public Address, you can purchase 'Ether' from an exchange such as <a href="https://coinbase.com" target="_blank">Coinbase</a> and then withdraw the Ether to the wallet's Public Address.  Now your digital wallet is ready to go! </p>

      <br>

      <h3 class="subtitle">Tokens for Etherpunks</h3>
        <p> Once you have Ether, click the button below to Activate your wallet with Etherpunks.com and view the balance in your Wallet.   </p>

      <br>

    </div>
  </div>
</section>
</div>
